# Folders
scriptfiles/
filterscripts/
gamemodes/
plugins/

# Prerequisites
*.d
*.dat

# Compiled Object files
*.slo
*.lo
*.o
*.amx
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Config files and log files
*.cfg
*.txt
*.log